#flickr-gallery {
  flex-direction: row;
  align-items: flex-start;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}


.c-gallery-tile {
  box-sizing: border-box;
  padding: 10px;
  display: -webkit-flex;
  display: flex;
  height: 300px;
  width: 33%;
  overflow: hidden;

  p {
    &:first-of-type {
      margin-top: 0;
    }
  }

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    transition: all 0.25s;
  }

  &:hover {
    cursor: pointer;
    img {
      transform: scale(1.1);
    }
  }


  .is-selected {
    -webkit-box-shadow: 0px 0px 0px 5px rgba(237,102,102,1);
    -moz-box-shadow: 0px 0px 0px 5px rgba(237,102,102,1);
    box-shadow: 0px 0px 0px 5px rgba(237,102,102,1);

    &:hover {
      transform: scale(1);
    }
  }
}
